@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

.forms {
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

.form {
  margin-left: 25%;
  margin-right: 25%;
}

@media (max-width: 640px) {
  .form {
    margin-left: 10%;
    margin-right: 10%;
  }
}

p {
  font-size: 11pt !important;
  color: black !important;
  line-height: 1.5 !important;
}

.title {
  font-size: 24pt !important;
  line-height: 1.25 !important;
  font-weight: 600 !important;
}

.application {
  background-color: #edfcf3;
}

.application p {
  font-size: 15px !important;
}